<p id="notice"><%= notice %></p>

<span class="image right">
   <%= link_to 'Regresar', paciente_path(@paciente), :class => "button small icon fa-arrow-left" %>
</span>
        
<h1>Lista de citas</h1>

    <div class="row">
        <div class="4u 12u(small)">
            <%= link_to 'Nueva cita', new_paciente_citum_path(@paciente), :class => "button small fit special icon fa-plus" %>
        </div>   
    </div> 
    
    <hr/>

<table class="alt">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Médico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cita.each do |citum| %>
      <tr>
        <td><%= citum.fecha %></td>
        <% t = citum.hora.to_datetime %>
        <td><%= citum.hora %></td>
        <td><%= citum.medico.nombre %><%= " " %><%= citum.medico.apellido1 %><%= " " %><%= citum.medico.apellido2 %></td>
        <td><%= link_to 'Mostrar', paciente_citum_path(@paciente, citum), :class => "button small fit icon fa-file-text-o"%></td>
        <td><%= link_to 'Editar', edit_paciente_citum_path(@paciente, citum) , :class => "button small fit icon fa-edit"%></td>
        <td><%= link_to 'Eliminar', paciente_citum_path(@paciente, citum), method: :delete, :class => "button small fit icon fa-remove", data: { confirm: 'Desea continuar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= will_paginate @cita, renderer: BootstrapPagination::Rails %>
