<%= form_for @medico, html: { multipart: true } do |f| %>
  <% if @medico.errors.any? %>
    <section id="one">
      <div class="8u 12u$(small)" id="error_explanation">
        <h2>Error en los siguientes campos</h2>
        <ol>
        <% @medico.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ol>
      </div>
    </section>
  <% end %>
  
  <section id="one">
      <div class="row">
        <div class="4u">
          <span class="image fit"><img src="/assets/icon-user-default.png" alt=""></span>
        </div> 
        <div class="8u">
          <div class="field">
            <%= f.label :nombre, 'Nombre' %>
            <%= f.text_field :nombre, :placeholder => "Nombre", :autofocus  => true %>
          </div>
          <div class="row">
            <div class="6u">
              <div class="field">
                <%= f.text_field :apellido1, :placeholder => "Primer apellido" %>
              </div>
            </div>
            <div class="6u$">
              <div class="field">
                <%= f.text_field :apellido2, :placeholder => "Segundo apellido"  %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br/>
      
      <div class="field">
        <%= f.label :codigo ,'Código'%>
        <%= f.text_field :codigo, :placeholder => "Código" %>
      </div>
      
      <div class="field">
        <%= f.label :cedula ,'Cédula'%>
        <%= f.text_field :cedula, :placeholder => "Cédula 0-0000-0000" %>
      </div>
      
      <div class="field">
        <%= f.label :nacionalidad , 'Nacionalidad'%>
        <%= f.select :nacionalidad, [ 'Costarricense','Costarricense naturalizado', 'Extranjero' ], :prompt => 'Nacionalidad', :id => "demo-category" %>
      </div>
      
      <div class="field">
          <%= f.check_box :activo%>
          <%= f.label :activo , 'Inactivo'%>
      </div>
      
    </section>
    
  <hr/>
  <section id="three">
    <div class="actions">
      <%= f.submit "Finalizar", :class => "button special" %>
    </div> 
  </section>
<% end %>
