
<tr>
    <td><%= medico.codigo %></td>
    <td><%= medico.cedula %></td>
    <td><%= medico.nombre %><%= " " %><%= medico.apellido1 %><%= " " %><%= medico.apellido2 %></td>
    <td><%= link_to 'Mostrar', medico, :class => "button small fit icon fa-file-text-o" %></td>
</tr>