
<% if medico_signed_in? %>
<p id="notice"><%= notice %></p>
    <h1>Bienvenido</h1>
    <h3>
    <% if !current_medico.has_role? :admin %>
        Dr. 
    <% end %>
      <%= " " %> <%= current_medico.nombre %><%= " " %><%= current_medico.apellido1 %><%= " " %><%= current_medico.apellido2 %>
    
    </h3>
    
    
    <p> Fecha: <%= Time.now %> </p>
<% end %>

