<% if medico_signed_in? %>
  <p id="notice"><%= notice %></p>
  
  <div class="row">
        <div class="8u 12u(small)">
            <h1>Detalles de la observación</h1>
        </div> 
        <div class="4u$ 12u$(small)">
            <%= link_to 'Editar', edit_paciente_observacion_path(@paciente,@observacion), :class => "button small fit special icon fa-edit" %> 
        </div>   
    </div> 
    
    <hr/>
    
   <h2>Paciente:<%= " " %> <%= @paciente.nombre %><%= " " %><%= @paciente.apellido1 %><%= " " %><%= @paciente.apellido2 %></h2>
  
   <header>
    <h2>Médico:</h2>
    <p><%= @observacion.medico.nombre %><%= " " %><%= @observacion.medico.apellido1 %><%= " " %><%= @observacion.medico.apellido2 %></p>
  </header>
  
  <header>
    <h2>Fecha:</h2>
    <p><%= @observacion.created_at %></p>
  </header>
    
  <header>
    <h2>Descripción:</h2>
    <blockquote><%= @observacion.descripcion %></blockquote>
  </header>
 
  <%= link_to 'Regresar', paciente_observacions_path(@paciente), :class => "button small icon fa-arrow-left" %>
<% end %>
