<% if medico_signed_in? %>
  <p id="notice"><%= notice %></p>
  
  <span class="image right">
   <%= link_to 'Regresar', enfermedads_path, :class => "button small icon fa-arrow-left" %>
  </span>

 <h1>Información de la enfermedad</h1>
  
  <div class="row">
        <div class="4u 12u(small)">
            <%= link_to 'Editar', edit_enfermedad_path(@enfermedad), :class => "button small fit special icon fa-edit" %> 
        </div>   
    </div> 
  
  <hr/>
  
  <header>
    <h2>Código:</h2>
    <p><%= @enfermedad.codigo %></p>
  </header>
    
  <header>
    <h2>Descripción:</h2>
    <p><%= @enfermedad.descripcion %></p>
  </header>
 
  
<% end %>
