<%= form_for(@enfermedad) do |f| %>
  <% if @enfermedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enfermedad.errors.count, "error") %> error al ingresar:</h2>

      <ul>
      <% @enfermedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "C贸digo"%>
    <%= f.text_field :codigo, :placeholder => "C贸digo" %>
  </div>
  <div class="field">
    <%= f.label :descripcion, "Descripci贸n" %>
    <%= f.text_field :descripcion, :placeholder => "Descripci贸n" %>
  </div>
  <hr/>
  <div class="actions">
    <%= f.submit "Finalizar", :class => "button special" %>
  </div>
<% end %>
